body{
	background-color: rgb(192, 246, 232);
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.main-container{
	width: 20%;
	margin: 100px auto; /*agar posisi ditengah*/
	text-align: center;
}
.main-container img{
	width: 100%;
	border-radius: 250px;
}
.main-container p{
	font-size: 30px;
	font-family: fantasy;
	color: rgb(6, 94, 65);
}
.btn-main{
	background-color:  rgb(7, 81, 56);
	padding: 15px 25px;
	color: white;
	border-radius: 10px;
	text-decoration: none; /*untuk menghilangkan underline*/
	font-size: 18px;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.btn-main:hover{
	background-color:  rgb(10, 199, 136);
	color: rgb(226, 250, 11);
}

.container{
	width: 90%;
	margin: 20px auto;
}
.dropdown {
	position: relative;
	display: inline-block;
 }
 .dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	padding: 2px 5px;
	z-index: 1;
 } 
 .dropdown:hover .dropdown-content {
	display: block;
 }