header{
    width: 100%;
    height: 200px;
    background-size: cover;
    background-image: url(https://raw.githubusercontent.com/aninurhida99/webmaterial/main/assets/image/bg01.jpg);
}
.navbar{
    width: 100%;
    background-color: #3d2603;
    height: 60px;
    top:0;
    left: 0;
    position:fixed;
}
.navbar li{
    list-style: none;
    font-size: 20px;
    padding: 5px 20px;
    float: left;
    /* display: inline-block; */
}
.navbar li a{
    color: white;
    text-decoration: none;
}
.navbar li a:hover{
    text-decoration: none;
    background-color: #9e5d20;
    padding: 10px 20px;
}
header h1{
    text-align: center;
    color: rgb(255, 240, 27);
    font-size: 65px;
    padding-top: 50px;
}
.container{
    width: 90%;
    padding: 10px 15px;
    margin: 0px auto;
}
.contents{
    background-color: #f3eae1;
    height: 450px;
}
.maintitle{
    text-align: center;
    color: #3d2603;
    font-family: 'Trebuchet MS';
    font-size: 35px;
    padding: 0px 0px 15px 0px;
}
.content-item{
    width: 20%;
    float: left;
    margin: 15px 26px 0px 26px;
    border: #3d2603 solid 1px;
    text-align: center;
    background-color: #9e5d20;
}
.content-item img{
    width: 100%;
}
.content-item p{
    font-size: 18px;
    font-family: 'Trebuchet MS';
    color: whitesmoke;
}
.booking{
    background-color: #f9f4ef;
    padding: 15px;
}
.row {
    padding: 3px;
    text-align: center;
}
.control-label{
    /* margin-inline: 100px; */
    display: inline-block;
    width:150px;
    font-size: 18px;
    font-family: 'Trebuchet MS';
    text-align: left;
    vertical-align: top;
}
input, textarea{
    border: #c5c1bc solid 1px;
    padding: 7px;
    width: 250px;
    
}
.btn-send{
    border: #c5c1bc solid 1px;
    padding: 7px 20px;
    font-size: 14px;
    color: #f9f4ef;
    background-color: #5e5d5a;
}
footer{
    width: 100%;
    background-color: #3d2603;
    height: 60px;
    color: #fbf8f5;
    padding-bottom: 10px;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.column-left{
    float: left;
    line-height: 1.5;

}
.column-right{
    float: right;
    line-height: 1.5;

}
.txt-menu{
    text-align: left;
    border-bottom: #f3eae1 solid 1px;
    padding-left: 10px;
}